#ignore files from vim - via github/gitignore/Global/Vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
#ignore data files
*.txte
*.dat
*.salt
*.chk
#ignore pepper file specific to the application
/data/pepper.conf
